.card {
  margin-left: 5%;
  margin-top: 1rem;
  max-height: 300px;
  min-width: 300px;
  max-width: 90%;
  overflow: scroll;
  display: flex;

}

.card-body {
  padding: 10px;
  margin: 1rem;
}

button {
  margin: 10px 10px;
}

.add-task-header {
  text-align: center;
  margin-bottom: 30px;
}