.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.pricing-card-container {
  background-color: #1ABC9C;
  color: white; 
}

.pricing-card {
  background-color: lightgrey;
  color: black;
  margin: 30px;
}

.pricing-card-title {
  text-align: center;
}
