.navbar-container {
  width: 280px;
  height: 100vh;
  position: fixed;
  padding-top: 3rem;
  background-color: #1E1E2F;
}

hr {
  color: #ECF0F1;
}

.nav-item a, .nav-header {
  color: #FF64EF;
}

.no-bullet {
  list-style-type: none;
}
